.task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
}
.task .task_complete input{
    cursor: pointer;
    scale: 2;
}
.task_details{
    width: 80%;
}
.task_details--badges{
    display: flex;
    gap: 20px;
}

.task_details--badges span{
    font-size: 15px;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    background-color: #FFD257;
    color: black;
    border-radius: 20px;
    text-transform: capitalize;
}

.task_delete{
    cursor: pointer;
}

.task_delete:hover{
    animation: ring 500ms ease-in-out infinite;
}
@keyframes ring {
    0% {
      stroke-dashoffset: 251; /* Start with the ring hidden */
      transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    33% {
      stroke-dashoffset: 0; /* Halfway through animation, show full ring */
      transform: rotate(10deg); /* Rotate halfway */
    }
    66% {
      stroke-dashoffset: 251; /* Reset to hide the ring at the end */
      transform: rotate(-10deg); /* Complete rotation */
    }
  }